.div-padre{
    width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;
}

h1{font-size: 60px;}
h2{font-size: 30px;}
p{font-size: 23px;}

button{
    background: black;
    color: white;
   padding: 10px;
   padding-left: 16px;
   padding-right: 16px;
   border-radius: 6px;
}